In [27]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Аналитик_обучение/Uber.csv')

In [28]:
df = df.dropna() #Удаление строк с пустыми значениями
df['PuFrom'] = df['PuFrom'].str.lower() #Приведение данных столбца PuFrom к одному виду - к нижнему регистру

# Шаг 1: Заменить ":" на "."
df['Time'] = df['Time'].astype(str).str.replace(':', '.')
# Шаг 2: Преобразовать в float
df['Time'] = df['Time'].astype(float)


# Преобразование дробной части числа (после точки) в десятичные минуты
df['Time'] = df['Time'].astype(float).apply(lambda x: int(x) + round((x - int(x)) * 100 / 60, 2))


print(df)

              Date   Time                                              State  \
0       2014.07.06  14.50  NY                                            ...
1       2014.07.04   7.25  NY                                            ...
2       2014.07.05   5.75  NY                                            ...
3       2014.07.06   4.50  NY                                            ...
4       2014.07.05   7.75  NY                                            ...
...            ...    ...                                                ...
194986  2014.09.29   6.00  NJ                                            ...
194987  2014.09.28  21.83  JFK DELTA TERM 4  P/U AREA C                  ...
194988  2014.09.28   7.00  NY                                            ...
194989  2014.09.28  15.50  NY                                            ...
194991  2014.09.08   9.75  NY                                            ...

           PuFrom Address                Street
0       manhattan      50  MURRAY ST
1       manhattan     143  AVENUE B
2       manhattan     125  CHRISTOPHER ST
3       manhattan     217  E 7 ST
4       manhattan     521  W 26 ST
...           ...     ...                   ...
194986  ridgewood     756  BELMONT RD
194987        jfk
194988  manhattan     112  W 78 ST
194989  manhattan     601  W 57 ST
194991  manhattan     415  W 24 ST

[157962 rows x 6 columns]